version: '2.3'

services:
  sormas:
    extends:
      file: services-base.yml
      service: base-sormas
    labels:
      - autoheal=true
        # override for stop timeout seconds during restart
      - autoheal.stop.timeout=30
    environment:
      - CUSTOMBRANDING_ENABLED=${CUSTOMBRANDING_ENABLED}
      - CUSTOMBRANDING_NAME=${CUSTOMBRANDING_NAME}
      - CUSTOMBRANDING_LOGO_PATH=${CUSTOMBRANDING_LOGO_PATH}
      - CUSTOMBRANDING_USE_LOGINSIDEBAR=${CUSTOMBRANDING_USE_LOGINSIDEBAR}
      - CUSTOMBRANDING_LOGINBACKGROUND_PATH=${CUSTOMBRANDING_LOGINBACKGROUND_PATH}
      - SORMAS2SORMAS_ENABLED=${SORMAS2SORMAS_ENABLED}
      - S2S_NON_INTERACTIVE=true
      - SORMAS2SORMAS_DIR=${SORMAS2SORMAS_DIR}
      - SORMAS_ORG_ID=${SORMAS_ORG_ID}1.03.1.01.
      - SORMAS_ORG_NAME=${SORMAS_ORG_NAME}"Stadt Braunschweig"
      - SORMAS_HOST_NAME=${SORMAS_SERVER_URL}
      - SORMAS_HTTPS_PORT=443
      - SORMAS_S2S_CERT_PASS=${SORMAS_S2S_CERT_PASS}password
      - SORMAS_S2S_REST_PASSWORD=${SORMAS_S2S_REST_PASSWORD}passwordpassword
      - SORMAS2SORMAS_RETAINCASEEXTERNALTOKEN=${SORMAS2SORMAS_RETAINCASEEXTERNALTOKEN}
      - NAMESIMILARITYTHRESHOLD=${NAMESIMILARITYTHRESHOLD}
    volumes:
      - ${SORMAS_PATH}/documents:/opt/sormas/documents
      - ${SORMAS_PATH}/custom:/opt/sormas/custom
      - ${SORMAS_PATH}/sormas-logs:/opt/domains/sormas/logs
      - ${SORMAS_PATH}/sormas2sormas:/opt/sormas/sormas2sormas
    cpus: ${APPSERVER_CPUS}
    healthcheck:
      timeout: 3s
    links:
      - postgres
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    extends:
      file: services-base.yml
      service: base-postgres
    environment:
      - DB_NAME=sormas
      - DB_NAME_AUDIT=sormas_audit
    volumes:
      - ${SORMAS_PATH}/psqldata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    cpus: ${DB_CPUS}

  pg_dump:
    extends:
      file: services-base.yml
      service: base-pg_dump
    environment:
      - DB_NAME=sormas
      - DB_NAME_AUDIT=sormas_audit
      - MIN=15,45 # Twice the hour on 15 and 45 (use crontab notation)
      - HOUR= # Keep empty for every hour. Use crontab notation otherwise
      - KEEP=1 # keep db dumps for one day in backup folder
    depends_on:
      postgres:
        condition: service_healthy

  apache2:
    extends:
      file: services-base.yml
      service: base-apache2
    environment:
      - PROMETHEUS_SERVERS=${PROMETHEUS_SERVERS}
    links:
      - sormas
    depends_on:
      sormas:
        condition: service_healthy

  autoheal:
    extends:
      file: services-base.yml
      service: base-autoheal
