version: '2.3'

networks:
  sormas:
    name: sormas

services:
  sormas:
    extends:
      file: services-base.yml
      service: base-sormas
    labels:
      - autoheal=true
        # override for stop timeout seconds during restart
      - autoheal.stop.timeout=30
    environment:
      - CUSTOMBRANDING_ENABLED=${CUSTOMBRANDING_ENABLED}
      - CUSTOMBRANDING_NAME=${CUSTOMBRANDING_NAME}
      - CUSTOMBRANDING_LOGO_PATH=${CUSTOMBRANDING_LOGO_PATH}
      - CUSTOMBRANDING_USE_LOGINSIDEBAR=${CUSTOMBRANDING_USE_LOGINSIDEBAR}
      - CUSTOMBRANDING_LOGINBACKGROUND_PATH=${CUSTOMBRANDING_LOGINBACKGROUND_PATH}
      - PIA_URL=${PIA_URL}
      - SJ_URL=https://${PIA_URL}/user/connectSormas
      - SJ_AUTH=https://${PIA_URL}/user/requestToken
      - SJ_CLIENTID=${SJ_CLIENTID}
      - SJ_SECRET=${SJ_SECRET}
      - SJ_DEFAULT_USERNAME=${SJ_DEFAULT_USERNAME}
      - SJ_DEFAULT_PASSWORD=${SJ_DEFAULT_PASSWORD}
      - NAMESIMILARITYTHRESHOLD=${NAMESIMILARITYTHRESHOLD}
    links:
      - postgres
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      sormas:

  postgres:
    extends:
      file: services-base.yml
      service: base-postgres
    environment:
      - DB_NAME=sormas
      - DB_NAME_AUDIT=sormas_audit
    volumes:
      - ${SORMAS_PATH}/psqldata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      sormas:

  pg_dump:
    extends:
      file: services-base.yml
      service: base-pg_dump
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - DB_NAME=sormas
      - DB_NAME_AUDIT=sormas_audit
    networks:
      sormas:

  autoheal:
    extends:
      file: services-base.yml
      service: base-autoheal
