version: '2.3'

networks:
  sormas:
    name: sormas

services:
  sormas:
    extends:
      file: services-base.yml
      service: base-sormas
    labels:
      - autoheal=true
        # override for stop timeout seconds during restart
      - autoheal.stop.timeout=30
    environment:
      - AUTHENTICATION_PROVIDER=KEYCLOAK
      - KEYCLOAK_SORMAS_UI_SECRET=${KEYCLOAK_SORMAS_UI_SECRET}
      - KEYCLOAK_SORMAS_REST_SECRET=${KEYCLOAK_SORMAS_REST_SECRET}
      - KEYCLOAK_SORMAS_BACKEND_SECRET=${KEYCLOAK_SORMAS_BACKEND_SECRET}
      - CACERTS_PASS=${CACERTS_PASS}
      - KEYSTORE_PASS=${KEYSTORE_PASS}
      - CUSTOMBRANDING_ENABLED=${CUSTOMBRANDING_ENABLED}
      - CUSTOMBRANDING_NAME=${CUSTOMBRANDING_NAME}
      - CUSTOMBRANDING_LOGO_PATH=${CUSTOMBRANDING_LOGO_PATH}
      - CUSTOMBRANDING_USE_LOGINSIDEBAR=${CUSTOMBRANDING_USE_LOGINSIDEBAR}
      - CUSTOMBRANDING_LOGINBACKGROUND_PATH=${CUSTOMBRANDING_LOGINBACKGROUND_PATH}
    volumes:
      - ${SORMAS_PATH}/documents:/opt/sormas/documents
      - ${SORMAS_PATH}/custom:/opt/sormas/custom
      - ${SORMAS_PATH}/sormas-logs:/opt/domains/sormas/logs
      - ${SORMAS_PATH}/sormas2sormas:/opt/sormas/sormas2sormas
      - ./apache2/certs:/tmp/certs
    links:
      - postgres
    healthcheck:
      test: ["CMD", "curl", "-f", "-I", "http://localhost:6048"]
    depends_on:
      postgres:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    networks:
      sormas:

  keycloak:
    extends:
      file: services-base.yml
      service: base-keycloak
    links:
      - keycloak-postgres
    depends_on:
      keycloak-postgres:
        condition: service_healthy
    networks:
      sormas:

  postgres:
    extends:
      file: services-base.yml
      service: base-postgres
    environment:
      - DB_NAME=sormas
      - DB_NAME_AUDIT=sormas_audit
    volumes:
      - ${SORMAS_PATH}/psqldata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      sormas:

  keycloak-postgres:
    extends:
      file: services-base.yml
      service: base-keycloak-postgres
    volumes:
      - ${SORMAS_PATH}/keycloak/psqldata:/var/lib/postgresql/data
    ports:
      - 5433:5432
    expose:
      - 5432
    networks:
      sormas:

  pg_dump:
    extends:
      file: services-base.yml
      service: base-pg_dump
    environment:
      - DB_NAME=sormas
      - DB_NAME_AUDIT=sormas_audit
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      sormas:

  pg_dump_keycloak:
    extends:
      file: services-base.yml
      service: base-pg_dump
    environment:
      - DB_HOST=${KEYCLOAK_DB_HOST}
      - DB_NAME=${KEYCLOAK_DB_NAME}
      - PGPASSWORD=${KEYCLOAK_DB_PASSWORD}
      - SORMAS_POSTGRES_USER=${KEYCLOAK_DB_USER}
      - MIN=0 # At 0 Minutes
      - HOUR=*/4 # Every 4 hours
      - KEEP=1 # keep db dumps for one day in backup folder
    volumes:
      - /backup-keycloak:/var/opt/db_dumps
    depends_on:
      keycloak-postgres:
        condition: service_healthy
    networks:
      sormas:

  autoheal:
    extends:
      file: services-base.yml
      service: base-autoheal
