version: '2.2'
services:
  payara:
    build:
      context: payara
    image: hzibraunschweig/sormas-payara:5.192

  rscript:
    depends_on:
      - payara
    build:
      context: Rscript
    image: hzibraunschweig/sormas-rscript:3.5

  sormas:
    depends_on:
     - rscript
    build:
      context: sormas
      args:
        - SORMAS_URL=${SORMAS_URL}
        - SORMAS_POSTGRES_USER=${SORMAS_POSTGRES_USER}
        - SORMAS_POSTGRES_PASSWORD=${SORMAS_POSTGRES_PASSWORD}
        - DB_HOST=${DB_HOST}
        - DOMAIN_NAME=${DOMAIN_NAME}
        - DB_NAME=${DB_NAME}
        - DB_NAME_AUDIT=${DB_NAME_AUDIT}
        - MAIL_FROM=${MAIL_FROM}
        - SORMAS_VERSION=${SORMAS_VERSION}
    image: hzibraunschweig/sormas-application:${SORMAS_DOCKER_VERSION}
    command: /bin/false

  postgres:
    build:
      context: postgres
    image: hzibraunschweig/sormas-postgres:${SORMAS_DOCKER_VERSION}
    command: /bin/false

  pg_dump:
    build:
      context: pg_dump
    image: hzibraunschweig/sormas-pg-dump:${SORMAS_DOCKER_VERSION}
    command: /bin/false

  letsencrypt:
    build:
      context: letsencrypt
      args:
        - SORMAS_URL=${SORMAS_URL}
        - SORMAS_SERVER_URL=${SORMAS_SERVER_URL}
        - SORMAS_VERSION=${SORMAS_VERSION}
    image: hzibraunschweig/sormas-letsencrypt:${SORMAS_DOCKER_VERSION}
    command: /bin/false

  apache2:
    build:
      context: apache2
      args:
        - SORMAS_URL=${SORMAS_URL}
        - SORMAS_SERVER_URL=${SORMAS_SERVER_URL}
        - SORMAS_VERSION=${SORMAS_VERSION}
    image: hzibraunschweig/sormas-apache2:${SORMAS_DOCKER_VERSION}
    command: /bin/false

  keycloak:
    build:
      context: keycloak
    image: hzibraunschweig/sormas-keycloak:${SORMAS_DOCKER_VERSION}
    command: /bin/false

  keycloak-postgres:
    build:
      context: keycloak-postgres
    image: hzibraunschweig/keycloak-postgres:${SORMAS_DOCKER_VERSION}
    command: /bin/false
