version: '2.3'

services:
  sormas:
    extends:
      file: services-base.yml
      service: base-sormas
    labels:
      - autoheal=true
        # override for stop timeout seconds during restart
      - autoheal.stop.timeout=30
    environment:
      - AUTHENTICATION_PROVIDER=KEYCLOAK
      - KEYCLOAK_SORMAS_UI_SECRET=${KEYCLOAK_SORMAS_UI_SECRET}
      - KEYCLOAK_SORMAS_REST_SECRET=${KEYCLOAK_SORMAS_REST_SECRET}
      - KEYCLOAK_SORMAS_BACKEND_SECRET=${KEYCLOAK_SORMAS_BACKEND_SECRET}
      - CACERTS_PASS=${CACERTS_PASS}
      - KEYSTORE_PASS=${KEYSTORE_PASS}
      - SORMAS2SORMAS_ENABLED=${SORMAS2SORMAS_ENABLED}
      - SORMAS2SORMAS_KEYALIAS=
      - SORMAS2SORMAS_KEYSTORENAME=
      - SORMAS2SORMAS_KEYPASSWORD=
      - SORMAS2SORMAS_TRUSTSTORENAME=
      - SORMAS2SORMAS_TRUSTSTOREPASSWORD=
      - S2S_NON_INTERACTIVE=true
      - SORMAS2SORMAS_DIR=${SORMAS2SORMAS_DIR}
      - SORMAS_ORG_ID=${SORMAS_ORG_ID}
      - SORMAS_ORG_NAME=${SORMAS_ORG_NAME}
      - SORMAS_HOST_NAME=${SORMAS_SERVER_URL}
      - SORMAS_HTTPS_PORT=443
      - SORMAS_S2S_CERT_PASS=${SORMAS_S2S_CERT_PASS}
      - SORMAS_S2S_REST_PASSWORD=${SORMAS_S2S_REST_PASSWORD}
      - SORMAS2SORMAS_RETAINCASEEXTERNALTOKEN=${SORMAS2SORMAS_RETAINCASEEXTERNALTOKEN}
      - NAMESIMILARITYTHRESHOLD=${NAMESIMILARITYTHRESHOLD}
    volumes:
      - ${SORMAS_PATH}/documents:/opt/sormas/documents
      - ${SORMAS_PATH}/custom:/opt/sormas/custom
      - ${SORMAS_PATH}/sormas-logs:/opt/domains/sormas/logs
      - ./apache2/certs:/tmp/certs
    cpus: ${APPSERVER_CPUS}
    healthcheck:
      test: ["CMD", "curl", "-f", "-I", "http://localhost:6048"]
    links:
      - postgres
    depends_on:
      postgres:
        condition: service_healthy
      keycloak:
        condition: service_healthy

  keycloak:
    extends:
      file: services-base.yml
      service: base-keycloak
    links:
      - keycloak-postgres
    depends_on:
      keycloak-postgres:
        condition: service_healthy

  postgres:
    extends:
      file: services-base.yml
      service: base-postgres
    environment:
      - DB_NAME=sormas
      - DB_NAME_AUDIT=sormas_audit
    volumes:
      - ${SORMAS_PATH}/psqldata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    cpus: ${DB_CPUS}

  keycloak-postgres:
    extends:
      file: services-base.yml
      service: base-postgres
    environment:
      - POSTGRES_PASSWORD=${KEYCLOAK_DB_PASSWORD}
      - POSTGRES_USER=${KEYCLOAK_DB_USER}
      - POSTGRES_DB=${KEYCLOAK_DB_NAME}
      - TZ=${TZ}
    volumes:
      - ${SORMAS_PATH}/keycloak/psqldata:/var/lib/postgresql/data
    ports:
      - 5433:5432
    expose:
      - 5432
    cpus: ${KEYCLOAK_DB_CPUS}
    mem_limit: ${KEYCLOAK_DB_MEM}
    mem_reservation: ${KEYCLOAK_DB_MEM_RESERVED}
    healthcheck:
      test: ["CMD", "psql", "-U", "${KEYCLOAK_DB_USER}", "-c", "SELECT 1;", "${KEYCLOAK_DB_NAME}"]

  pg_dump:
    extends:
      file: services-base.yml
      service: base-pg_dump
    environment:
      - DB_NAME=sormas
      - DB_NAME_AUDIT=sormas_audit
      - MIN=15,45 # Twice the hour on 15 and 45 (use crontab notation)
      - HOUR= # Keep empty for every hour. Use crontab notation otherwise
      - KEEP=1 # keep db dumps for one day in backup folder
    depends_on:
      postgres:
        condition: service_healthy

  pg_dump_keycloak:
    extends:
      file: services-base.yml
      service: base-pg_dump
    environment:
      - DB_HOST=${KEYCLOAK_DB_HOST}
      - DB_NAME=${KEYCLOAK_DB_NAME}
      - PGPASSWORD=${KEYCLOAK_DB_PASSWORD}
      - SORMAS_POSTGRES_USER=${KEYCLOAK_DB_USER}
      - TZ=${TZ}
      - MIN=0 # At 0 Minutes
      - HOUR=*/4 # Every 4 hours
      - KEEP=1 # keep db dumps for one day in backup folder
    volumes:
      - /backup-keycloak:/var/opt/db_dumps
    cpus: ${DB_DUMP_CPUS}
    mem_limit: ${DB_DUMP_MEM}
    mem_reservation: ${DB_DUMP_MEM_RESERVED}
    depends_on:
      keycloak-postgres:
        condition: service_healthy

  apache2:
    extends:
      file: services-base.yml
      service: base-apache2
    environment:
      - PROMETHEUS_SERVERS=${PROMETHEUS_SERVERS}
    links:
      - sormas
      - keycloak
    depends_on:
      sormas:
        condition: service_healthy

  autoheal:
    extends:
      file: services-base.yml
      service: base-autoheal
    environment:
      - AUTOHEAL_START_PERIOD=0
